@function star($n) {
  $result: "#{random(100)}vw #{random(100)}vh #fff";
  @for $i from 2 through $n {
    $result: "#{$result}, #{random(100)}vw #{random(100)}vh #fff";
  }
  @return unquote($result);
}

@keyframes moveUp {
  to {
    transform: translateY(-100vh);
  }
}

$n: 5;
$duration: 400s;
$count: 1000;
@for $i from 1 through $n {
  $duration: floor($duration/2);
  $count: floor($count/2);
  .m#{$i} {
    position: fixed;
    width: #{$i}px;
    height: #{$i}px;
    border-radius: 50%;
    background-color: white;
    box-shadow: star($count);
    animation: moveUp $duration linear infinite;
    left: 0;
    top: 0;
    &::after {
      content: "";
      position: inherit;
      width: inherit;
      height: inherit;
      border-radius: inherit;
      background-color: inherit;
      left: 0;
      top: 100vh;
      box-shadow: inherit;
    }
  }
}

.bg-stars {
    background: linear-gradient(180deg, #0b0c2a, #1e1e2f);
  }
